# Variables  متغیر

In [2]:
# syntax: <variable name> = <value>
random_variable = 1.758

In [4]:
print(random_variable)

1.758

In [5]:
random_variable = 5.7895412354

In [6]:
print(random_variable)

5.7895412354

In [7]:
random_variable == 1.758

False

In [12]:
"""عدد اعشاری
عدد صحیح
"""
random_variable = True
print(random_variable)

True

# Rules to define variable names

In [14]:
# key sensitive
variable_1 = "this is a random string"
Variable_1 = 3.5

variable_1 == Variable_1

False

In [21]:
# باید با حروف یا آندراسکور شروع شود
# cannot use numbers or (!, @, #, ....)
variable = "This is a correct name"

print(variable)

This is a correct name

In [23]:
# cannot use predefined keywords
while
import
del
if
else
elif
break
continue
True
False
def
class
try
or
and
for = "this is a text"

SyntaxError: invalid syntax (695072974.py, line 1)

هدف از نامگذاری فهم سریع و راحت محتوای داخل متغیر هست

1. emp_name

2. EmpName

3. empName

# Data types - نوع داده داخل متغیر

In Python, everything is an `object`, so data types are `classes` and variables are instances (objects) of these classes.

1. str
2. numeric (int, float)
3. float
4. list
5. tuple
6. range
7. dict
8. bool

In [37]:
# string
test_variable = "This is a test string"

test_variable_2 = 'This is also a test string but diffrent from the privious one'

test_variable_3 = """hello this is line 1
this is line 2
this is line 3
this is line 4
"""

In [34]:
print(test_variable)

This is a test string

In [35]:
print(test_variable_2)

This is also a test string but diffrent from the privious one

In [38]:
print(test_variable_3)

hello this is line 1
this is line 2
this is line 3
this is line 4

In [45]:
# <text> in variable_name
"flower" in test_variable

True

Numeric data types (integers and floats)

In [53]:
#integers: 4 , 8 , 4521, 98452
#floats: 4.0, 8.0, 85462.8546

In [54]:
x = 4
print(f"x value is: {x}")

print(f"type x is: {type(x)}")

x value is: 4
type x is: <class 'int'>

In [55]:
y = 4.0
print(f"y value is: {y}")
print(f"type y is: {type(y)}")

y value is: 4.0
type y is: <class 'float'>

In [59]:
# value is equal but not the data type
x == y

True

In [69]:
name = input("Enter your name please: ")
password = input("Enter your password please: ")
username = input("Enter your username please: ")

In [61]:
name

'Mohammad reza'

In [74]:
print(f"User name is= {name}")

User name is= Mohammad

In [ ]:
"""Username is 
this is a test
"""

In [70]:
print(f"User name is: {username}\nThis is a test\nThis is the password: {password}\nThis is name: {name}")

User name is: alikhani_13
This is a test
This is the password: 123456
This is name: Mohammad

In [81]:
print("Mohammad's car")
print('Mohammad"s car')

Mohammad's car
Mohammad"s car

In [92]:
x = 20.8
y = 7

x % y

6.800000000000001

__Cast data types__

`syntax:`

int(variable name or value)

float(variable name or value)

bool(....)

str(.....)

Note: if possible

In [94]:
x = 4
y = '4'

print(f"type x: {type(x)}\ntype y: {type(y)}")

type x: <class 'int'>
type y: <class 'str'>

In [96]:
if x == y:
    print("x is equal to y")
else:
    print("They are not equal")

They are not equal

In [104]:
#int(y) == x
#str(x) == y
#float("4")
z = False

print(type(z))

<class 'bool'>

In [107]:
bool(0)

False

List = [1 , 2.0, "salam"]

Tuple = ("Sahar", "Mohammad", "Ali")

Dictionary = {"key":value} --> {"Name": "Mohammad" , "Age": 12.5}

Set = {"Sahar", "Mohammad", "Ali"}

In [111]:
my_list = [1 , 2.0, "salam"]
print(my_list)
print(type(my_list))

my_tuple = ("Sahar", "Mohammad", "Ali")
print(my_tuple)
print(type(my_tuple))

my_dict = {"Name": "Mohammad", "Age": 20, "Account balance": 502.78900}
print(my_dict)
print(type(my_dict))

my_set = {"Sahar", "Mohammad", "Ali"}
print(my_set)
print(type(my_set))

[1, 2.0, 'salam']
<class 'list'>
('Sahar', 'Mohammad', 'Ali')
<class 'tuple'>
{'Name': 'Mohammad', 'Age': 20, 'Account balance': 502.789}
<class 'dict'>
{'Mohammad', 'Sahar', 'Ali'}
<class 'set'>

In [117]:
# you can change list values
my_list[2] = "This is another's text"

In [118]:
my_list

[1, 2.0, "This is another's text"]

In [121]:
#'tuple' object does not support item assignment
my_tuple[0]="Nazanin"

TypeError: 'tuple' object does not support item assignment

In [122]:
my_set

{'Ali', 'Mohammad', 'Sahar'}

In [123]:
# we do not have ability to order values in sets
my_set[0]

TypeError: 'set' object is not subscriptable

In [127]:
my_dict["Account balance"] = 0

In [128]:
my_dict["Account balance"]

0

In [130]:
my_dict.keys()

dict_keys(['Name', 'Age', 'Account balance'])

In [131]:
my_dict["Account balance"] = input("What is account balance?")
my_dict["Name"] = input("What is name?")
my_dict["Age"] = input("What is age?")

print(my_dict)

{'Name': 'Hanieh', 'Age': '29', 'Account balance': '1000'}

In [132]:
my_set

{'Ali', 'Mohammad', 'Sahar'}

change set

In [133]:
my_set.add("Hossein")

In [138]:
my_set

{'Hossein', 'Mohammad', 'Sahar'}

In [137]:
my_set.remove("Ali")

change list

In [135]:
my_list.append("new text")

In [136]:
my_list

[1, 2.0, "This is another's text", 'new text']

In [141]:
a = list(my_tuple)

In [146]:
a[1]

'Mohammad'

In [147]:
a[1] = 54

In [148]:
a[1]

54

In [151]:
bool(0)

False